<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndpointBehavior()">
                    <webHttp helpEnabled="true" />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="MetadataBehavior()">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServiceRest_20190140127_NadziraAzzahra.TI_UMY">
                <endpoint address="http://localhost:1907" behaviorConfiguration="EndpointBehavior()"
                    binding="webHttpBinding" bindingConfiguration="" name="" contract="ServiceRest_20190140127_NadziraAzzahra.ITI_UMY" />
            </service>
        </services>
    </system.serviceModel>
</configuration>